* {
  margin: 0;
  padding: 0;
  overflow-x: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* Nav bar Section */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #000000;
  padding: 10px 20px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  float: left;
  text-align: center;
  z-index: 99;
  /* text-decoration: none; */
}

.nav-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 50px;
  align-items: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-decoration: none;
}
.nav-line {
  text-decoration: none;
}

.nav-line:hover {
  color: #fff;
}

nav .contact {
  display: flex;
  align-items: center;
}

nav .contact span {
  margin-right: 10px;
  color: white;
}

nav .btn {
  background-color: #50240b;
  padding: 10px 20px;
  color: rgb(145, 25, 25);
  text-decoration: none;
  border-radius: 20px;
}
nav .btn:hover {
  color: white;
}

.nav-item a {
  color: #d4581e;
}

/* logo section */
.logo {
  height: 20%;
  width: 10%;
  margin: 10px;
  padding: 5px;
}

#hero {
  background-image: url(/images/loaded-fries.jpg);
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.overlay {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: rgba(0, 0, 0, 0.8);
}

#hero-title {
  color: rgb(255, 255, 255);
  font-size: 65px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
}

#hero-subtext {
  font-size: 50px;
  color: #b33f0a;
}

#hero-button {
  size: 20vh;
  width: 10vw;
  color: rgb(238, 229, 229);
  font-size: 15px;
  background-color: #b33f0a;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
}

#hero-button:hover {
  color: #680c70;
}

/* menu section */
.menu {
  padding: 50px 0;
  background-color: #020202;
}

.menu h2 {
  text-align: center;
  margin-bottom: 40px;
}

.menu-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.menu-item {
  text-align: center;
  background-color: white;
  padding: 20px;
  border: 1px solid #ddd;
}

.menu-item img {
  width: 100%;
  height: auto;
}

.menu-item h3 {
  margin: 20px 0 10px;
}

.container {
  width: 80%;
  margin: 0 auto;
}

/* testimonial section */
.testimonials {
  padding: 50px 0;
  background-color: #ffffff;
  position: relative;
  text-align: center;
  overflow: hidden;
}

.testimonials::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 400px;
  background: url(./images/wine.jpg);
  z-index: 1;
  opacity: 0.3;
  background-position: center;
  background-size: cover;
}

.testimonials h2,
.testimonial-grid {
  position: relative;
  z-index: 2;
}

.testimonials h2 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 2em;
  color: #333;
}

.testimonial-grid {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.testimonial {
  /* margin: 0 20px; */
  text-align: center;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  /* max-width: 900px; */
  width: 50%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  height: 210px;
}

.profile-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 20px;
  margin-top: 10px;
  object-fit: cover;
}

.testimonial .quote {
  font-style: italic;
  font-size: 1.2em;
  margin-bottom: 20px;
  color: #555;
}

.testimonial .author {
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
  margin-top: 5px;
}

.testimonial .position {
  font-size: 0.9em;
  color: #888;
}

@media (max-width: 768px) {
  .testimonial-grid {
    flex-direction: column;
    gap: 20px;
  }
}

.image-strip {
  display: flex;
  justify-content: center;
  margin-top: 65px;
  overflow: hidden;
  background-color: #fff;
  /* padding: 30px 0; */
}

.image-strip img {
  width: 300px;
  height: 90px;
  object-fit: cover;
  /* margin: 0 10px; */
  /* border-radius: 8px; */
}

/* footer section */
.footer {
  background-color: #0e0707;
  color: #fff;
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

.strip {
  background-color: #d4581e;
  text-align: center;
  width: 100%;
  padding: 1rem;
  font-size: 30px;
}

.footer .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 30px;
  padding: 20px;
}

.footer-logo {
  font-size: 2em;
  margin-bottom: 5px;
  height: 75%;
  width: 60%;
}

.foot-logo {
  height: 30%;
  width: 60%;
  margin-left: 5px;
  padding: 2px;
}

.footer-logo p {
  font-size: 0.9em;
  color: #ddd;
}

.footer-links,
.footer-hours,
.footer-newsletter {
  width: 25%;
  margin: 5px;
}

.footer-links h4,
.footer-hours h4,
.footer-newsletter h4 {
  font-size: 1.2em;
  margin-bottom: 10px;
  color: #fff;
}

.footer-links p,
.footer-hours p,
.footer-newsletter p {
  font-size: 0.9em;
  color: #ddd;
  line-height: 1.6;
}

.footer-hours p strong {
  display: block;
  font-size: 1em;
  color: #fff;
}

.footer-newsletter form {
  display: flex;
  margin-top: 10px;
  margin-left: 20px;
}

.newsletter-form input {
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  width: 70%;
  margin-right: 10px;
}

.newsletter-form button {
  padding: 10px;
  border: none;
  background-color: #d4581e;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2px;
  border-top: 1px solid #444;
  /* width: 70; */
}

/* .social-media {
  margin-bottom: 5px;
  border-top: 2px;
} */

.social-media a {
  color: white;
  font-size: 1.2em;
  margin-right: 10px;
  transition: color 0.3s;
  margin-left: 20px;
}

.social-media a:hover {
  color: #d4581e;
}

.footer-bottom p {
  font-size: 0.9em;
  color: #ddd;
}
